In [209]:
import random
from random import randint, seed
names = ["Stanley","Miranda",
"Kimberly","Reyna",
"Romario","Guest",
"LilyMai","Blake",
"Desiree","Velazquez",
"Shae","Fraser",
"Regan","Bell",
"Tulisa","Yu",
"Cadence","Macgregor",
"Rhonda","Galindo",
"Yahya","Nunez",
"Claude","Phan",
"Bertie","Ashley",
"Talia","Lutz",
"Khia","Jarvis",
"Percy","Summers",
"Ayaan","Frederick",
"Adele","Mccartney",
"Landon","Harmon",
"Haleemah","Fry",
"Ismaeel","Charles",
"Giles","Hodges",
"LexiMae","Gibbons",
"Annabell","Walsh",
"Lamar","Ferrell",
"Leopold","Clayton",
"Umer",
"Loki","Herrera",
"Rebecca","Chaney",
"Celia","Cortes",
"Muhamed","Lynn",
"Penny","Hays",
"Ianis","Lara",
"Keaton","Clegg",
"Rick","Daly",
"Krish","Rangel",
"Jaeden","Read",
"Kayla","Ventura",
"Rosa","Dickson",
"Laurel"," Knox",
"Umaiza","Felix",
"Amalie","Combs"]
maquinas= ["Pump it up", "Dance dance revolution", "In the groove","High Noon","COD","TFT","Car race","Hammer time","Basket star"]

atracciones=["Montaña rusa","Escalada extrema","Carros chocones","Circus chuck","Realidad aumentada","Circuito tematico"]

sucursales=["Bogota Fantasylandia", "Bucaramanga Fantasylandia","WuHan Fantasylandia"]

tablas= {"atraccion":"(idatraccion,nombre,descripcion)" ,
        "cliente":"(idcliente,idtarjeta,nombre,correo,telefono,apelido)",
        "detalle":"(iddetalle,info)",
        "empleado":"(idempleado,fechaingreso,nombre,apellido)",
        "factura": "(idfactura,idempleado,iddetalle,fecha)",
        "mantenimiento":"(idmantenimiento,idtipomantenimiento,idmaquina,fecha,descripcion)",
        "maquina":"(idmaquina,idproveedor,nombre)",
        "pago_tarjeta":"(idpagotarjeta,idtarjeta,fecha,descripcion)",
        "proveedor":"(idproveedor,nombre,direccion,telefono,correo)",
        "recarga":"(idrecarga,idcliente,idtarjeta,idfactura,valor,fecha)",
        "restaurante":"(idrestaurante,idsucursal,idempleado,descripcion)",
        "sucursal":"(idsucursal,nombre,descripcion)",
        "sucursal_atraccion":"(idsucursalatraccion,idturno,idpagotarjetas,idsucursal,precio)",
        "sucursal_maquina":"(idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio)",
        "tarjeta":"(idtarjeta,saldo)",
        "tipo_mantenimiento":"(idtipomantenimiento,preventivo,correctivo)",
        "turno":"(idturno,idempleado,h_inicio,h_final)"}
llaves= []
for key in tablas:
    llaves.append(key)
    
inserts=[i,desc(),date(),telef()]
def desc():
    return "'"+"No hay descripción disponible"+"'"
def date():
  
    ms= str(randint(2000,2020)) + "-"+str(randint(1,12))+"-"+str(randint(1,29))
    return ms
def telef():
    me=randint(0,8)
    m0=randint(1000000,9999999)
    return str(31)+str(randint(0,10))+str(me)+str(m0)
def money():
    return randint(0,2000000)
def correo(lista):
    return "'"+namegen(lista)+str(randint(1,20))+"@gmail.com"+"'"

def namegen(lista):
    return random.choice(lista)
def insertinto():
    return "INSERT INTO"
def proyectodb (key,table,index):
    msg= "proyectodb."+ key[index]+" "+table[key[index]]
    return msg

for i in range(0,100):
    
 print(insertinto() + " "+ proyectodb(llaves,tablas,13) + " VALUES("+str(i)+","+str(i)+","+str(i)+","+str(i)+","+str(randint(0,2))+","+str(money())+");")

INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(0,0,0,0,1,135400);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(1,1,1,1,1,256777);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(2,2,2,2,0,122420);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(3,3,3,3,0,1577754);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(4,4,4,4,2,516753);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(5,5,5,5,0,452864);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(6,6,6,6,0,947262);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(7,7,7,7,2,32037);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(8,8,8,8,0,1268448);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(9,9,9,9,1,341829);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(10,10,10,10,1,1757983);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(11,11,11,11,1,324579);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(12,12,12,12,0,1674672);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(13,13,13,13,0,826887);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(14,14,14,14,2,265635);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(15,15,15,15,1,672409);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(16,16,16,16,0,18021);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(17,17,17,17,0,527643);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(18,18,18,18,0,903896);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(19,19,19,19,2,878566);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(20,20,20,20,0,1712136);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(21,21,21,21,1,306115);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(22,22,22,22,1,1382493);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(23,23,23,23,2,819197);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(24,24,24,24,1,938362);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(25,25,25,25,0,421493);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(26,26,26,26,2,289358);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(27,27,27,27,0,773);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(28,28,28,28,1,1335362);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(29,29,29,29,0,743158);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(30,30,30,30,2,652960);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(31,31,31,31,0,125681);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(32,32,32,32,2,270137);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(33,33,33,33,1,1623609);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(34,34,34,34,0,1217565);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(35,35,35,35,1,957355);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(36,36,36,36,1,1430411);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(37,37,37,37,1,1985770);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(38,38,38,38,2,399064);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(39,39,39,39,1,257704);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(40,40,40,40,2,1532564);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(41,41,41,41,2,172457);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(42,42,42,42,0,643486);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(43,43,43,43,0,1447828);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(44,44,44,44,1,692788);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(45,45,45,45,0,167412);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(46,46,46,46,2,163509);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(47,47,47,47,2,1403567);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(48,48,48,48,2,1725710);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(49,49,49,49,2,1950695);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(50,50,50,50,0,1424800);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(51,51,51,51,1,1501354);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(52,52,52,52,2,1665420);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(53,53,53,53,0,224560);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(54,54,54,54,1,1750724);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(55,55,55,55,0,356266);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(56,56,56,56,2,1011741);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(57,57,57,57,2,1235644);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(58,58,58,58,2,122833);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(59,59,59,59,2,9057);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(60,60,60,60,0,1815991);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(61,61,61,61,0,324536);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(62,62,62,62,2,353094);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(63,63,63,63,1,1462986);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(64,64,64,64,1,1871066);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(65,65,65,65,1,999950);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(66,66,66,66,0,279950);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(67,67,67,67,1,622302);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(68,68,68,68,0,23370);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(69,69,69,69,0,410821);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(70,70,70,70,2,947732);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(71,71,71,71,1,1778007);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(72,72,72,72,1,1718323);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(73,73,73,73,1,1925988);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(74,74,74,74,1,1021365);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(75,75,75,75,1,1185727);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(76,76,76,76,0,1195056);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(77,77,77,77,2,657389);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(78,78,78,78,1,1589468);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(79,79,79,79,2,1553360);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(80,80,80,80,2,210518);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(81,81,81,81,1,632738);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(82,82,82,82,0,287950);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(83,83,83,83,0,1732453);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(84,84,84,84,0,1525204);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(85,85,85,85,1,74110);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(86,86,86,86,0,1082153);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(87,87,87,87,1,1167694);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(88,88,88,88,0,512442);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(89,89,89,89,1,980548);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(90,90,90,90,2,1274520);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(91,91,91,91,1,217753);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(92,92,92,92,1,363701);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(93,93,93,93,2,1972682);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(94,94,94,94,1,887272);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(95,95,95,95,2,1917648);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(96,96,96,96,2,1773920);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(97,97,97,97,0,670714);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(98,98,98,98,2,1789380);
INSERT INTO proyectodb.sucursal_maquina (idsucursalmaquina,idturno,idpagotarjetas,idsucursal,precio) VALUES(99,99,99,99,2,302220);